<div class="uk-background-secondary  uk-light">
    <div class="uk-container">
        <nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="accountmainpage">
                    <span clsas="uk-icon uk-marginsmall-right" uk-icon="icon: logo-color-light; ratio: 0.15"></span>
                </a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="accountmenu">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                        </a>
                    </li>
                    <li>
                        <a href="accountmainpage">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: home"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
